@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*
{
    text-align: center;
    align-items: center;
}
.container
{
    align-content: center;
}
code
{
    font-size: 15px;
}
h1
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-top: 1em;
}
.quote1
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.quote1 p
{
    color: rgb(189, 11, 189);
    font-weight: 700;
}
.quote2
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.quote2 p
{
    color: rgb(187, 90, 25);
    font-weight: 700;
}
.quote3
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.quote3 p
{
    color: rgb(252, 172, 0);
    font-weight: 700;
}
.quote4
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.quote4 p
{
    color: rgb(202, 37, 37);
    font-weight: 700;
}
.quote5 p
{
    color: rgb(28, 248, 182);
    background: #14213d;
    font-weight: 500;
    border-radius: 15px;
}
.quote6 p
{
    color: rgb(28, 248, 182);
    background: #a5170d;
    font-weight: 500;
    border-radius: 15px;
}
.quote3 p
{
    color: rgb(252, 172, 0);
    font-weight: 700;
}
#warning
{
    font-weight: 700;
    color: red;
}
h4
{
    font-weight: 700;
    color: green;
}
.mat-label
{
    font-size: 16px;
}
::ng-deep .mat-select-arrow {
    color: rgb(245, 53, 6);
  }


 
body
{
    margin: 0;
    font-family: 'Nunito';
}

h1
{
    text-align: center;
}

.container
{
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.quote
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

p
{
    margin-top: 0;
}

span
{
    font-weight: bold;
    position: relative;
    margin-left: 15px;
}

/* span:before
{
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    border-bottom: 1px solid black;
    top: 10px;
    left: -15px;
} */

.color-quote
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-weight: 800;
}
.color-quote2
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-weight: 800;
}
.color-quote3
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);    
    font-weight: 800;
}
.color-quote4
{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);    
    font-weight: 800;
}
.selectcountrybtn
{
    color: white;
    background: #14213d;
}
.example-full-width
{
    width: 360px;
}

::ng-deep .task03 .mat-select-arrow {
    color: rgb(3, 3, 2);
    background: white;
  }

.color-quote4 .task03 .mat-option
{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span .task03
{
    width: 10rem;
}
.sticky 
{
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    border: 2px solid rgb(41, 141, 255);
}
.mat-select.task03
{
    border: 2px solid darkcyan;
    height: 2em;
}




body {
    background-color:  #151719;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

  table {
    width: 100%;
  }

  b
  {
      font-size: 1.5em;
      color: #08AEEA;
  }

.colorChange{
    border: 2px solid rgb(41, 141, 255);
    width: 200px;
}
.row{
    padding-left: 30%;
}
/* @media (min-width: 550px)
{
    .container
    {
        grid-template-columns: repeat(2, 1fr);
    }
} */