<h1>March-2022</h1>
<div class="container">
  <div class="quote1">
    <span>Task-1</span>
    <hr>
    <p>Restrict axis value within 180. Show 'warning' msg if the axis value is entered above 180 using</p>
    <code> $event, ngModel and *ngIf</code>
    <br><br>
    <span>08-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-1</span>
    <h2> Axis<=180 </h2>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Click here...</mat-label>
            <input type="tel" matInput placeholder="Eg:123" (keypress)="keyPress($event)" maxlength="3"
              [formControl]="phone" required (input)="range()" [(ngModel)]="rangevalue">
            <mat-error *ngIf="phone.invalid">{{getErrorMessageForPhone()}}</mat-error>
          </mat-form-field>
          <p id="warning" *ngIf="this.rangecondition">{{range()}}</p>
          <h4 *ngIf="this.rangecondition">{{rangeOk()}}</h4>
        </form>
  </div>


  <div class="quote2">
    <span>Task-2</span>
    <hr>
    <p>Change 'Arrow' color in mat-select option (RED color for example) using the below CSS code</p>
    <code>::ng-deep .mat-select-arrow color: red;</code><br>
    <br>
    <span>09-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-2</span>
    <br><br>
    <h2>Basic mat-select</h2>
    <form class="example-form">
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>


  <div class="quote3">
    <span>Task-3</span>
    <hr>
    <p>Make Search input in mat-select mat-options visible when scrolling options using CSS</p>
    <code>position: -webkit-sticky; <p id="warning">position: sticky; z-index: 1;</p> top: 0;</code><br>
    <br>
    <span>10-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-3</span>
    <br><br>
    <h2>Sticky Input when scrolling options</h2>
    <span>
      <mat-select class="task03">
        <div class="sticky">
          <input type="text" matInput>
        </div>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
      </mat-select>
    </span>
  </div>


  <div class="quote4">
    <span>Task-4</span>
    <hr>
    <p>Auto Focus to Input Dropdown option when clicking a button using</p>
    <code>Mat-Autocomplete and toggle dropdown() nativeElement.focus();.</code><br>
    <code>  @ViewChild('stateInput')  stateInput!: ElementRef; </code><br>
    <code> Inside method use, this.stateInput.nativeElement.focus();</code><br>
    <br>
    <span>14-03-2022</span>
  </div>

  <div class="quote">
    <span>🔴Solution for Task-4</span>
    <br><br>
    <h2>AutoFocus-Toggle(),focus()</h2>
    <span>
      <form class="example-form">
        <button mat-raised-button class="selectcountrybtn" (click)="setFocusOn()">Select Country</button>
        <mat-form-field class="example-full-width">
          <input class="populationoption" #stateInput matInput placeholder="State" aria-label="State"
            [matAutocomplete]="auto" [formControl]="stateCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option class="populationoption" (onSelectionChange)="stateInput.value !=undefined && onEnter($event)"
              *ngFor="let state of filteredStates | async" [value]="state.name">
              <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
              <span style="font-weight: 500;">{{ state.name }}</span> |
              <small>Population: {{state.population}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br />
      </form>
    </span>
  </div>

  <div class="quote5">
    <span>Task-5</span>
    <hr>
    <p>Display table data using *ngFor with Mat-Select option as labels </p>
    <code>Use label instead of select option </code><br>
    <br>
    <span>16-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-5</span>
    <br><br>
    <h2>Topic</h2>
    <span>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef><b> No. </b></th>
          <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu">One</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> <b>Weight</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> <b>Symbol</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </span>
  </div>

  <div class="quote6">
    <span>Task-6</span>
    <hr>
    <p>Display PDF in angular page using</p>
    <code>ng2-pdf-viewer</code><br>
    <br>
    <span>20-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-6</span>
    <br><br>
    <h2>PDF view</h2>
    <span>
      <h2>Integrate PDF File Viewer in Angular</h2>
          <pdf-viewer
            [src]="pdfSrc"
            [render-text]="true"
            [original-size]="false"
            style="width: 400px; height: 500px"
          ></pdf-viewer>
    </span>
    </div>

  <div class="quote7">
    <span>Task-7</span>
    <hr>
    <p>Display Word Document DOCX in angular page using</p>
    <code>iframe</code><br>
    <br>
    <span>20-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-7</span>
    <br><br>
    <h2>DOCX view</h2>
    <span>
      <h2>Integrate Doc File Viewer in Angular</h2>
          <!-- <iframe
            [src]="docSrc"
            style="width: 400px; height: 500px"
          ></iframe> -->
          <div class="row">    
            <div class="col-sm-12 btn btn-primary">    
                Add a document Viewer in Angular  
            </div>    
          </div>  
        <ngx-doc-viewer [url]="DemoDoc" [viewer]="viewer" style="width:100%;height:100vh;"></ngx-doc-viewer>
    </span>
    </div>

  <div class="quote8">
    <span>Task-8</span>
    <hr>
    <p>Change input color to red when value > 60 or value less than 30</p>
    <code>use [ngStyle] with condition</code><br>
    <br>
    <span>22-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-8</span>
    <br><br>
    <h2>Input color change</h2>
    <span>
          <div class="row">    
            <input matInput class="colorChange" type="text" [ngStyle]="{'color' : 'limegreen'}">
          </div>  
          <h2>Input color change based on value</h2>
          <div class="row">    
            <input matInput class="colorChange" type="tel" [ngStyle]="{'color' : getColor()}" (input)="colorValue($event)">
          </div>  
    </span>
    </div>

  <div class="quote9">
    <span>Task-9</span>
    <hr>
    <p>Question</p>
    <code>code goes here...</code><br>
    <br>
    <span>22-03-2022</span>
  </div>
  <div class="quote">
    <span>🔴Solution for Task-9</span>
    <br><br>
    <h2>Topic </h2>
    <span>
          <div class="row">    
            <input matInput class="colorChange" type="text" [ngStyle]="{'color' : 'limegreen'}">
          </div>  
          <h2>Definition...</h2>
          <div class="row">    
            <input matInput class="colorChange" type="tel" [ngStyle]="{'color' : getColor()}" (input)="colorValue($event)">
          </div>  
    </span>
    </div>


</div>

<body>
  <div class="waviy">
    <span style="--i:1">T</span>
    <span style="--i:2">H</span>
    <span style="--i:3">A</span>
    <span style="--i:4">N</span>
    <span style="--i:5">K</span>
    <span style="--i:6"> </span>
    <span style="--i:7">Y</span>
    <span style="--i:8">O</span>
    <span style="--i:9">U</span>
    <span style="--i:10">!</span>

  </div>
</body>





<!-- <ng-container matColumnDef="Axis">
    <th mat-header-cell *matHeaderCellDef> AXIS </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <input matInput value="{{element.PinAxis}}" maxlength="3" type="text" class="form-control tableinputheight"
        (keyup.enter)="NearAxis()" (keyup.ArrowLeft)="arrowleftAXIS()" (keyup)="changeValueAxis();"
        (keyup.arrowright)="arrowrightAXIS()" (keypress)="numberOnly()" autocomplete="off" #Axis
        [disabled]="element.OD">
    </td>
  </ng-container> -->